*{
    padding: 0;
    margin: 0;
}

.headerContainer{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/assets/img/HeaderTypographie.jpg);
    width: 100%;
}

.boxContainer{
    width: auto;
    padding: auto;
    margin: auto;
}


ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px;
}

li {
  display: inline;
  margin-left: 20px;
  font-family: "Helvetica";
}

h1{
    padding:20px;
    color: aliceblue;
    font-family: "Helvetica";
}
.noPoint{
    list-style-type: none;
    text-decoration: none;
 }

.white_txt{
    color: aliceblue;
}

#site_content{
    padding-top: 80px;
}

section{
    padding-top: 80px;
    margin-left:300px;
    margin-right: 300px;
}

h2{
    font-family: "Helvetica";
    padding-bottom: 30px;
}

.Right{
    display: flex;
    justify-content: center;
    float: right;
}
.Left{
    display: flex;
    justify-content: center;
    float: left;
}

.px32{
    font-size: 32px;
}


.greyBackground{
    background-color: rgb(252, 252, 252);
    border-radius: 5px;
}
.Pour150{
    font-size: 150%;
}
.Em_2{
    font-size: 2em;
}
.Rem_2half{
    font-size: 2.5rem;
}

.footerContainer{
    width: 100%;
}
.center{
    display: flex;
    justify-content: center;
}

.padding{
    padding:10px;
}
.padding_bottom{
    padding-bottom:40px;
}

#Message{
    padding: 40px;
}

#Nom{
    padding: 10px;
}

#Email{
    padding: 10px;
}
.button{
    margin:10px;
    padding: 10px;
    border-radius: 15px;
    color: rgb(244, 244, 250);
    background-color: rgb(30, 30, 60);
}
.button:hover{
    background-color: blueviolet;
}

.formContainer{
    background-color: aliceblue;
    border-radius: 5px;
    width: 100%;
    margin: 0 auto;
    padding: 6px;
}

.padding_top{
    padding-top: 40PX;
}

p{
    font-family: "Helvetica";
}

.grey_txt{
    color: grey;
}

.mainPosition{
    background-color: rgb(238, 238, 238);
    padding: 50px 0 100px;
}
.exoPositionContainer{
    background-color: rgb(255,255,255);
    width: 40%;
    margin: 0 auto;
    padding: 50px;
    border-radius: 6px;
    position: relative;
}
.miniContainer{
    width: 20%;
    padding: 35px;
    background-color: rgb(30, 30, 60);
    color: aliceblue;
    border-radius: 10px;
    font-family: "Helvetica";
}
.absoluteContainer{
    position: absolute;
    width: 10%;
    padding: 15px;
    top: 100%;
    left: 100%;
    transform: translate(-140%, -150%);
    border-radius: 10px;
    font-family: "Helvetica";
}

.yellow{
        background-color: yellow;
}

.red{
    background-color: rgb(255, 111, 97);
}

.green{
    background-color: rgb(76, 175, 80);
}
.absoluteContainer_1{
    position: absolute;
    width: 5%;
    padding: 15px;
    top: 0%;
    left: 100%;
    transform: translate(-120%, 40%);
    border-radius: 10px;
    font-family: "Helvetica";
}
.absoluteContainer_2{
    position: absolute;
    width: 5%;
    padding: 15px;
    top: 73%;
    left: 8%;
    border-radius: 10px;
    font-family: "Helvetica";
}